* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(244, 244, 244);
  font-size: 14px;
  line-height: 1.15;
  text-size-adjust: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: font1;
  src: url(/fonts/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2);
}

@font-face {
  font-family: font2;
  src: url(/fonts/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2);
}

.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-product {
  font-family: font1;
  font-size: 13px;
  color: rgb(36, 36, 36);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 0.1px;
  text-align: left;
  text-overflow: ellipsis;
}

.text-white {
  color: rgb(255, 255, 255);
}


a {
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  opacity: 0.9;
}

img {
  max-height: 100%;
  max-width: 100%;
}

ul {
  list-style: none;
}


input, section, textarea {
  background: transparent;
  border: none;
  box-sizing: border-box;
  outline: none;
}