@media only screen and (max-width: 736px) {

#globalnav.globalnav-click-trans-for {
      height: 100%;
      background: #000;
  }


.hide-bag-mobile {
  visibility: hidden;
  opacity: 0;
}


  .rotate-top-for {
    transform: rotate(45deg);
  }


   .rotate-bottom-for {
    transform: rotate(-45deg);
  }

  .crust-trans-top-for {
    transform: none;
  }


  .crust-trans-bottom-for {
    transform: none;
  }


  .show-search-mobile {
   visibility: visible;
  }



}
